body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(193, 240, 245);
}
button{
    font-weight: 700;
    padding: 10px 30px;
    background-color: rgb(245, 184, 184);
    border: solid 1px #724949;
    border-radius: 15%;
}

.form {
  margin-bottom: 30px;  
}
.timer {
    
    display: flex;
    justify-content: center;
     }

.field{
    font-size: 30px;
    font-weight: 700;
    padding: 30px;
border: solid 1px #724949;
 border-radius: 15%;
    background-color: rgb(228, 146, 146);

}
.field:not(:last-child){
    margin-right: 20px;
}